
#ContainerAccueil{
    position: absolute;
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 2000px; 
}

#CanvaAccueil{
    background-color: #FFAA7A;
}
#PopupName{

    position: absolute;
    height: 75%;
    width: 40%;
    z-index: 2;
    max-height: 1000px;
   /* min-width: 400px;*/
   
}

#PopupPicture{

    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#PopupInput{

    min-height: 150px;
    height: auto;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    flex-direction: column;
    color: #545454;
    width: 100%;


}

#imgPopup{
    max-width: 100%;
    height: auto;
    max-height: 90%;
    
}


#PopupInputChild{
    height: 60px;
    max-width: 380px;
    width: 80%;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    background-color: white;
}

#PopupInputChild:focus {
    outline: none;
    transform: scale(1.1);
}

#ButtonPopup{
    min-height: 60px;
    max-width: 380px;
    width: 80%;
    height: 20%;
    border-radius: 10px;
    text-align: center;
    margin-top: 15px;
    background-color: #e7302b;
    color: white;
    font-weight: 700;
 
}

#ButtonPopup:active{
    
    transform: scale(1.1);
    
 
}


@media only screen and (max-width: 1000px) {
    #PopupPicture{

        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #PopupName{

        position: absolute;
        height: 25%;
        width: 25%;
        min-height: 300px;
        min-width: 150px;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
       
    }
    #PopupInputChild{
        height: auto;
        min-height: 40px;
        max-width: 380px;
        width: 80%;
        border-radius: 10px;
        text-align: center;
        font-weight: 700;
        background-color: white;
        font-size: 10px;
    }
    #ButtonPopup{
        min-height: 40px;
        max-width: 380px;
        width: 80%;
        height: 20%;

        border-radius: 10px;
        text-align: center;
        margin-top: 15px;
        background-color: #e7302b;
        color: white;
        font-weight: 700;
        font-size: 10px;
     
    }
    #PopupInput{

        min-height: 0;
        max-height: 150px;
        height: auto;
        display: flex;
        justify-content:flex-end;
        align-items: center;
        flex-direction: column;
        color: #545454;
        width: 100%;
    
    
    }
    
    
}