#ContainerClassement{
    height: 60%;
    width: 20%;
    position: absolute;
    right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 170px
    ;
    max-width: 370px;
    background-color: #FF7171;
    min-height: 400px;
}

#ClassementTitre{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e7302b;
    color: white;
    font-weight: 700;
}

#ContainerPlayer{

    height: 85%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
}

#PlayerChild{

    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    background-color: white;
    margin: 2px;
    color: #545454;

}

#ImgPlayerChild{
    height: 100%;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#ContenuPlayerChild{
    height: 100%;
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}

#NamePlayerChild{
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#ScorePlayerChild{
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#RankPlayerchild{
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}