.containerHeader{
    background-color: #121212 ;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
    position: absolute;
    top: 0;
    z-index: 2;
}

.logoHeader{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuHeader{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 270px;
    font-size: 13px;
}

.buttonHeader{
    background-color: white;
    border-radius: 5px;
    height: 30px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
    
}

.imgLogo{
    height: 10px;
    height: 60%;
}

.linkLogo{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 900px) {
    .menuHeader{
   
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 60px;
        width: auto;
        font-size: 10px;
    }
    .buttonHeader{
        background-color: white;
        border-radius: 10px;
        height: 35px;
        max-width: 115px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
        margin: 5px;
        
    }
}