.containerHeader{
    background-color: #eb7371;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
}

.logoHeader{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menuHeader{
   
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    width: 270px;
    font-size: 13px;
}

.buttonHeader{
    background-color: white;
    border-radius: 10px;
    height: 40px;
    width: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center
    
}

.imgLogo{
    height: 10px;
    height: 60%;
}

.linkLogo{
    height: 50px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}