.containerForm{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
}

.form{
    height: 620px;
    width: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
}

.formTop{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
    color:#949494;
    margin-top: 35px;
}


.formBottom{
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputForm{
    height: 15%;
    width: 80%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    resize: none;
    margin-bottom: 20px;
    background-color:#f2f2f2;
    outline:none;
    }

#input2{
    height: 30%;
}

.buttonForm{
    height: 15%;
    width: 80%;
    border-radius: 10px;
    background-color: #eb7371;
    color: white;
    cursor: pointer;
}

.buttonForm:active{
    transform: scale(1.05, 1.05);
}

.buttonForm:hover{
    background-color: #FF8787;
}

.pForm{
    width: 80%;
    color:#949494;
    margin-bottom: 20px;
}

.formPTitle{
    
    width: 80%;
    text-align: center;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.errorForm{
    color: red;
    width: 100%;
    
}

.errorDiv{
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 40px;
}

.sendForm{
    color: green;
    width: 100%;
}